.button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-12);
    cursor: pointer;
    transition: all ease-in 0.3s;
    padding: var(--gap-12) var(--gap-16) var(--gap-12) var(--gap-12);
    border-radius: var(--border-radius-button);
    font-size: var(--button-font-size);
    outline: 0;
    text-align: center;
    white-space: nowrap;
    border: none;

    span {
        display: inline-block;
        background-color: transparent;
    }

    &.block {
        width: 100%;
    }

    &.primary {
        background-color: var(--button-primary-bg-color);
        color: var(--color-white);
        :hover:not(:disabled),
        :focus:not(:disabled) {
            background-color: var(--button-primary-bg-color-hover);
        }
    }

    &.secondary {
        background-color: var(--button-secondary-bg-color);
        color: var(--color-black);

        :hover:not(:disabled),
        :focus:not(:disabled) {
            background-color: var(--button-secondary-bg-color-hover);
        }
    }

    &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}
