.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-24);
}

.tip {
    font-size: var(--base-font-size);
    font-weight: 500;
    line-height: 1.4;
    color: var(--color-black);
    text-align: center;
}
