.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: transparent;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-blend-mode: overlay;
        background:
            center / cover no-repeat url('../src/assets/bg-image.png'),
            linear-gradient(90deg, var(--main-bg-color) 0%, var(--main-bg-color) 100%);
        opacity: 0.2;
        z-index: 0;
    }
}
